certifi==2018.10.15
cffi==1.15.1
chardet==3.0.4
cryptography==40.0.2
datapunt-keycloak-oidc==0.5.1
Django==2.1.5
django-crispy-forms==1.7.2
feedparser==6.0.10
idna==2.7
josepy==1.13.0
mozilla-django-oidc==1.2.4
Pillow==5.2.0
pycparser==2.21
pyOpenSSL==23.1.1
pytz==2018.5
requests==2.19.1
sgmllib3k==1.0.0
six==1.16.0
urllib3==1.23
wincertstore==0.2
